$primaryColor: #2345e0;
$primaryColorDark: #1a34ac;
$fontColor: #333333;
$whiteColor: #fff;
$fontGreyColor: #bbbaba;
$fontGreyColorDark: #858585;
$borderGreyColor: #c7c7c7;
$backGroungGreyColor: #f4f5fa;
