@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin box-shadow {
    box-shadow: 0px 0px 6px 2px $borderGreyColor;
}

@mixin movie-radius {
    border-radius: 4px;
}
